extends layout
block appbar
  script(type="text/javascript").
    var access_token = localStorage.getItem('access_token');
    console.log("localstorage getAcces: ", access_token);
    //- window.location.replace("#{url_agendador}/?t=" + access_token);
