doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='../css/style.css')
    link(rel='stylesheet', href='../css/maintainer.css')
    link(rel='stylesheet', href='../css/appbar.css')
    script(src="http://code.jquery.com/jquery-1.7.min.js", type="text/javascript")
    script(src="http://localhost:3000/socket.io/socket.io.js")
  body
  header
    a.logoDarwined
    .frase SOFTWARE DE PLANIFICACIÓN ACADÉMICA
    .right
      block appbar
  main
    #menuContainer
    #mainRegion
      include main.jade
    #outer
  footer
    a(href="#", class="logoForis")
    .fraseEmpresa DESARROLLADO POR
    
  script(type="text/javascript").
    var socket = io.connect('http://localhost:3000');
    socket.emit('testconnection');
    socket.on('testthis', function(data){
      $('#message').html(data);
    });
    
    
  
